@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to left, #8ff8e0 10%, #6a95f1 90%);
}

.wrapper {
    margin: 120px auto;
    max-width: 500px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}

.wrapper .inputField {
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

.inputField input {
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
    letter-spacing: 2px;
}

.inputField button {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #3480f1;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: auto;
}

input:focus+.active {
    background: #0d66ec;
    opacity: 1;
}

.wrapper .todoList {
    max-height: 250px;
    overflow-y: auto;
}

.todoList li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    /* overflow: hidden; */
}

.todoList li span {
    position: absolute;
    right: 0px;
    color: #fff;
    width: 45px;
    text-align: center;
    border-radius: 0 3px 3px 0 !important;
    background: #e74c3c;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 2px;
}

.todoList li:hover span {
    right: 0px;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.footer button {
    border: none;
    outline: none;
    background: #3a77e9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
}

.footer button:hover {
    transform: translateX(-3px);
}